
.env
#terraform  
# Ignore terraform state files
*.tfstate
# Ignore terraform plan output
*.tfplan
# Ignore terraform variables files
*.tfvars
# Ignore terraform override files
override.tf
override.tf.json
.terraform/